main.channel {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

main.channel[hidden] {
  display: none;
}

main.channel h1 {
  padding-bottom: 30px;
  text-align: center;
  font-weight: 900;
  color: var(--accent-color);
}

main.channel nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--accent-color);
  border-radius: 5px 5px 0 0;
}

.channel nav .channel-name {
  color: white;
  flex: 1;
}

.channel nav .leave-channel {
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--accent-color);
  background-color: white;
  border-radius: 5px;
  border: none;
  z-index: 50;
}

.channel .channel-name::before {
  content: 'Channel:';
  margin-right: 10px;
}

.channel .container {
  flex: 1;
  display: flex;
  min-height: 600px;
  background-color: var(--accent-color);
  border-radius: 0 0 5px 5px;
}

.channel .main-video-wrapper {
  flex: 1;
  height: 100%;
  border-left: var(--main-border);
  border-bottom: var(--main-border);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.channel .main-video-wrapper video {
  width: 100%;
  height: 100%;
}

.channel .side-bar-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.channel .sub-video-wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  border-left: var(--main-border);
  border-right: var(--main-border);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--accent-color);
  position: relative;
}

.channel .sub-video-wrapper video {
  width: 100%;
  background-color: white;
}

.channel .input-controllers {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  gap: 7px;
}

.channel .input-controllers .mic-toggle,
.channel .input-controllers .cam-toggle {
  background-color: transparent;
  border: none;
  width: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.channel .input-controllers .mic-toggle.off,
.channel .input-controllers .cam-toggle.off {
  color: red;
}

.channel .device-select-button {
  border: none;
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  color: var(--accent-color);
  cursor: pointer;
  appearance: none;
  z-index: 10;
  height: 22px;
  position: relative;
  white-space: nowrap;
  user-select: none;
}

.channel .device-select-button summary {
  transform: translateY(-1px);
  list-style: none;
}

.channel .device-select-button summary span {
  margin-left: 5px;
  font-weight: 600;
}

.channel .select-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.channel .mic-select {
  border-radius: 3px 3px 0 0;
  border: var(--main-border);
  border-bottom: 0;
}
.channel .cam-select {
  border-radius: 0 0 3px 3px;
  border: var(--main-border);
}

.channel .mic-select,
.channel .cam-select {
  min-width: 100px;
  border-width: 2px;
  padding: 2px;
  outline: none;
  text-overflow: clip;
  overflow: hidden;
  font-size: 12px;
}

.channel .mic-toggle.on i:last-child {
  display: none;
}

.channel .mic-toggle.off i:first-child {
  display: none;
}

.channel .cam-toggle.on i:last-child {
  display: none;
}

.channel .cam-toggle.off i:first-child {
  display: none;
}

.channel .chat-box {
  flex: 1;
  background-color: var(--accent-color);
  border-radius: 5px;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 3px;
  overflow: hidden;
}

.channel .chat-box .chat-list {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  border-radius: 3px;
  background-color: white;
}

.channel .chat-box .chat-list li {
  background-color: white;
  border-radius: 8px;
  padding: 5px 10px;
  position: relative;
}

.channel .chat-box .chat-list li::after {
  --pointer-size: 5px;
  content: '';
  position: absolute;

  top: 50%;
  width: 0;
  height: 0;
  border: var(--pointer-size) solid transparent;
}

.channel .chat-box .chat-list li .sender-name {
  font-size: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.channel .chat-box .chat-list li .sender-name::after {
  content: ':';
}

.channel .chat-box .chat-list .me::after {
  right: 0;
  border-left-color: white;
  border-right: 0;
  margin-top: calc(-1 * var(--pointer-size));
  margin-right: calc(-1 * var(--pointer-size));
}

.channel .chat-box .chat-list .other::after {
  left: 0;
  border-right-color: white;
  border-left: 0;
  margin-top: calc(-1 * var(--pointer-size));
  margin-left: calc(-1 * var(--pointer-size));
}

.channel .chat-box .chat-list .notice {
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.6);
}

.channel .chat-box .chat-list .notice .sender-name {
  display: none;
}

.channel .chat-box .participants {
  padding: 5px;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.channel .chat-box .participants::before {
  content: 'participants:';
  font-size: 10px;
  width: 100%;
}

.channel .chat-box .participants li {
  color: white;
}

.channel .chat-box .participants li:not(:last-child)::after {
  content: ', ';
}

.channel .chat-box .chat-form {
  height: 60px;
  display: flex;
  background-color: var(--accent-color);
  gap: 2px;
}

.channel .chat-box .chat-form textarea {
  border: none;
  border-radius: 3px 10px 3px 3px;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 6px;
  background-color: white;
}

.channel .chat-box .chat-form button {
  background-color: var(--accent-color);
  border: none;
  width: 50px;
  font-size: 18px;
  color: white;
}
